<div class="container route-content" ng-controller="LandManagementController">
    <p class="text-right col-md-12" readonly>Last update by AlainLavoie (34 sec ago)</p>
    <form class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="saveLand(land.id)">
        <div class="form-group has-error">
            <label class="col-md-2 control-label">Commercial Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control ng-pristine ng-valid" name="name" ng-model="land.name">
            </div>
            <div class="col-md-4"> 
               <div class="input-group">
                  <p class="bg-info" readonly>Modified on last Updated</p>
               </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Size</label>
            <div class="col-md-4">
                <input type="text" class="form-control ng-pristine ng-valid" name="size" ng-model="land.size">
            </div>
            <div class="col-md-4"> 
               <div class="input-group">
                  <p class="bg-info" readonly>Modified on last Updated</p>
               </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Details</label>
            <div class="col-md-4">
                <input type="text" class="form-control ng-pristine ng-valid" name="details" ng-model="land.details">
            </div>
            <div class="col-md-4"> 
               <div class="input-group">
                  <p class="bg-info" readonly>Modified on last Updated</p>
               </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">UpdatedTime</label>
            <div class="col-md-4">
                <input type="text" class="form-control ng-pristine ng-valid" name="updated" ng-model="land.updated" readonly>
            </div>
            <div class="col-md-4"> 
               <div class="input-group">
                  <p class="bg-info" readonly>Modified on last Updated</p>
               </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Other</label>
            <div class="col-md-4">
                <input type="text" class="form-control ng-pristine ng-valid" name="other" ng-model="land.other">
            </div>
            <div class="col-md-4"> 
               <div class="input-group">
                  <p class="bg-info" readonly>Modified on last Updated</p>
               </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6" style="padding-left:110px">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </div>
    </form>

</div>


