<div class="container route-content" ng-controller="LandManagementController">


    <form class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="addRow()">
        <div class="form-group">
            <label class="col-md-2 control-label">Commercial Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control ng-pristine ng-valid" name="name" ng-model="name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Size</label>
            <div class="col-md-4">
                <input type="text" class="form-control ng-pristine ng-valid" name="size" ng-model="size">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Details</label>
            <div class="col-md-4">
                <input type="text" class="form-control ng-pristine ng-valid" name="details" ng-model="details">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Other</label>
            <div class="col-md-4">
                <input type="text" class="form-control ng-pristine ng-valid" name="other" ng-model="other">
            </div>
        </div>
        <div class="form-group">
            <div style="padding-left:110px">
                <input type="submit" value="Add" class="btn btn-primary">
            </div>
        </div>
    </form>




    <table class="table">
        <tr>
            <th>Land#
            </th>
            <th>Commercial name
            </th>
            <th>Size
            </th>
            <th>Action
            </th>
        </tr>
        <tr ng-repeat="land in lands">
            <td>{{land.id}}
            </td>
            <td>{{land.name}}
            </td>
            <td>{{land.size}}
            </td>
            <td>
                <a class="btn btn-primary" href="#/land/{{ land.id }}" role="button">Edit<a/>
                    <input type="button" value="Remove" class="btn btn-danger" ng-click="removeRow(land.name)"/>
            </td>
        </tr>
    </table>



</div>


