<table class="table"  ng-controller="LandsController">
    <tr>
        <th>Land# <span class="caret"></span>
        </th>
        <th>Commercial name <span class="caret"></span>
        </th>
        <th><a href="" ng-click="predicate = 'size'; reverse=!reverse">Size <span class="caret"></span></a>
        </th>
        <th>Action
        </th>
    </tr>
    <tr ng-repeat="land in lands | orderBy:predicate:reverse">
        <td>{{land.id}}
        </td>
        <td>{{land.name}}
        </td>
        <td>{{land.size}}
        </td>
        <td>{{land.updated}}
        </td>
        <td>

            <a class="btn btn-primary" ng-show="loginState" href="#/land/{{ land.id }}" role="button">Edit</a>
            <input type="button" ng-show="loginState" value="Remove" class="btn btn-danger"
                   ng-click="removeRow(land.name)"/>
            <a class="btn btn-primary" href="#/land/{{ land.id }}" role="button">View</a>
        </td>
    </tr>
</table>